{
  "openapi": "3.1.0",
  "info": {
    "title": "Sevalla API",
    "version": "1.57.1",
    "description": "# Introduction\n\nWelcome to the API Reference of Sevalla’s REST API. With this API, you can leverage some of our platform's features in your own applications and automated workflows. Our API receives and returns JSON formatted requests and responses.\n\nThroughout this reference, you can see the schema of our API endpoints along with explanations and usage examples. You can try out the API with the “Try it” console and find code examples in a few popular programming languages. We’ve also made it easy to copy the code examples so you can quickly incorporate them into your application or workflow.\n\n**Note:** To use the “Try it” console, you’ll need your API key (Bearer Token in the console) and any required parameters for the endpoint you want to test.\n",
    "termsOfService": "https://kinsta.com/legal/terms-service/",
    "x-logo": {
      "url": "https://sevalla-landing-page-r2bkd.kinsta.page/images/sevalla-logo.svg",
      "href": "/"
    }
  },
  "servers": [
    {
      "url": "https://api.sevalla.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Company Users",
      "description": "With the `users` endpoint, you can get a list of your [company’s users](https://kinsta.com/docs/company-settings/user-management/), this includes their id, email address, full name, and a link to their profile picture.\n"
    },
    {
      "name": "Applications",
      "description": "You can use the `applications` endpoint to:\n\n* Get a list of your company’s applications.\n* See information about a specific application, including [deployment details](https://docs.sevalla.com/application-hosting/build-deploy/application-deployments) and [processes](https://docs.sevalla.com/application-hosting/processes).\n* [Delete an application](https://docs.sevalla.com/applications/settings#delete-application).\n* Send a `PUT` request to update details within the [application settings](https://docs.sevalla.com/applications/settings), such as the build path, display name, default branch, and more.\n"
    },
    {
      "name": "Application Deployments",
      "description": "With the `deployments` endpoint, you can get [deployment details](https://docs.sevalla.com/application-hosting/build-deploy/application-deployments#details) like the deployment progress and more. \n\nYou can also send a `POST` request to the endpoint to manually or programmatically deploy an application. This request can be done from your terminal or using an automated script or CI/CD pipeline (e.g. [CircleCI](https://circleci.com/), [Jenkins](https://www.jenkins.io/), etc.).\n"
    },
    {
      "name": "Application Processes",
      "description": "The `processes` endpoint can be used to get more details about an [application’s processes](https://docs.sevalla.com/application-hosting/processes), including the type, the [start command](https://docs.sevalla.com/application-hosting/build-deploy/application-start-command) (labeled entrypoint in the response), and more.\n"
    },
    {
      "name": "Internal Connections",
      "description": " You can use the `internal connections` endpoint to send a `POST` request to create an [internal connection](https://docs.sevalla.com/application-hosting/application-connections#add-an-internal-connection) between your application and database hosted on Sevalla. This request can be done from your terminal or using an automated script or CI/CD pipeline (e.g. [CircleCI](https://circleci.com/), [Jenkins](https://www.jenkins.io/), etc.).\n"
    },
    {
      "name": "Application CDN",
      "description": "Sevalla's premium [CDN](https://docs.sevalla.com/applications/cdn), powered by Cloudflare, significantly accelerates the delivery of your application's assets, ensuring faster and more efficient performance.\n\nWith the `cdn` endpoint, you can send a `POST` request to toggle the CDN on or off. \n"
    },
    {
      "name": "Application Edge Caching",
      "description": "[Edge caching](https://docs.sevalla.com/applications/edge-caching) saves your site/page cache to Cloudflare's global network of data centers.\n\nWith the `edge-cache` endpoint, you can send a `POST` request to toggle edge caching on or off. \n"
    },
    {
      "name": "Application Clear Cache",
      "description": "Effortlessly reset both Sevalla's premium [CDN](https://docs.sevalla.com/applications/cdn), and Cloudflare's global [Edge Caching](https://docs.sevalla.com/applications/edge-caching) network with the `clear-cache` endpoint, ensuring a comprehensive refresh of your application's assets.\n"
    },
    {
      "name": "Application Metrics",
      "description": "The `metrics` endpoint can be used to get information about your [application's analytics](https://docs.sevalla.com/applications/analytics) such as the bandwidth, build time, average response request and more. \n"
    },
    {
      "name": "Databases",
      "description": "You can use the `databases` endpoint to:\n\n* Get a list of your company’s databases.\n* See details about a specific database.\n* [Create a new datbase](https://docs.sevalla.com/databases/get-started/add-a-database).\n* [Delete a database](https://docs.sevalla.com/database-hosting/database-settings#delete-database).\n* Send a `PUT` request to update the [database settings](https://docs.sevalla.com/database-hosting/database-settings), including the resource type and display name. \n"
    },
    {
      "name": "Static Sites",
      "description": "You can use the `static sites` endpoint to:\n\n* Get a list of your company’s static sites.\n* See information about a specific site, including the [deployment details](https://docs.sevalla.com/static-site-hosting/static-site-deployments#deployment-details-1).\n* [Delete a static site](https://docs.sevalla.com/static-sites/settings#delete-site).\n* Send a `PUT` request to update details within the [site settings](https://docs.sevalla.com/static-sites/settings#edit-details), such as the build command, display name, default branch, and more.\n"
    },
    {
      "name": "Static Site Deployments",
      "description": "With the `deployments` endpoint, you can get [deployment details](https://docs.sevalla.com/static-site-hosting/static-site-deployments#deployment-details-1) like the deployment progress and more. \n\nYou can also send a `POST` request to the endpoint to manually or programmatically deploy a static site. This request can be done from your terminal or using an automated script or CI/CD pipeline (e.g. [CircleCI](https://circleci.com/), [Jenkins](https://www.jenkins.io/), etc.).\n"
    },
    {
      "name": "Operations",
      "description": "The goal of the `operations` endpoint is to check the progress of ongoing operations triggered by the API. For example, Site Creation provides `202 Accepted` response for the first call, and provides an `operation_id`, that you can use as a parameter of this endpoint.\n"
    },
    {
      "name": "Authentication",
      "description": "The `authentication` endpoint validates the status of your API key. If the API key is valid, it shows details of the key including when the key expires. "
    }
  ],
  "paths": {
    "/company/{id}/users": {
      "get": {
        "operationId": "getCompanyUsers",
        "summary": "Get list of company users",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Users"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of company users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUsersResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving company users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "operationId": "getApplications",
        "summary": "Get list of applications by Company ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "company",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 0,
              "example": 3
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of applications requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKApplications"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}": {
      "get": {
        "operationId": "getApplicationById",
        "summary": "Get application by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of applications requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKApplicationSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the application or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteApplication",
        "summary": "Delete application by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of applications requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApplicationResponse"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while deleting application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateApplicationById",
        "summary": "Update application basic details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplicationRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateApplicationResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while updating application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{name}": {
      "get": {
        "operationId": "getApplicationByName",
        "summary": "Get application by name",
        "deprecated": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "unique-name"
            },
            "required": true,
            "name": "name",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of applications requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKApplicationSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the application or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/internal-connections": {
      "post": {
        "operationId": "createInternalConnection",
        "summary": "Create an internal connection",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Internal Connections"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalConnectionRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Internal connection created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKCreateInternalConnectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating the connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/cdn/toggle-status": {
      "post": {
        "operationId": "toggleCdnStatus",
        "summary": "Toggle CDN status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application CDN"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "CDN status changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleCDNResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while toggling CDN status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/edge-cache/toggle-status": {
      "post": {
        "operationId": "toggleEdgeCachingStatus",
        "summary": "Toggle edge caching status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Edge Caching"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Edge caching status changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleEdgeCachingResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while toggling edge caching status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/clear-cache": {
      "post": {
        "operationId": "clearAppCache",
        "summary": "Clear cache",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Clear Cache"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache cleared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearAppCacheResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while clearing cache",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/bandwidth": {
      "get": {
        "operationId": "getApplicationBandwidth",
        "summary": "Bandwidth",
        "description": "Total data that is transmitted in the selected time period.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application bandwidth.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationBandwidthResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application bandwidth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/build-time": {
      "get": {
        "operationId": "getApplicationBuildTime",
        "summary": "Build Time",
        "description": "Total time your application has taken to be built.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application build time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationBuildTimeResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application build time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/run-time": {
      "get": {
        "operationId": "getApplicationRunTime",
        "summary": "Run Time",
        "description": "Total time the application is running after being built and deployed.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application run time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationRunTimeResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application build time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/http-requests": {
      "get": {
        "operationId": "getApplicationHttpRequests",
        "summary": "HTTP Requests per Minute",
        "description": "Total average requests per minute.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application average HTTP requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationHttpRequestsResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application average HTTP requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/response-time": {
      "get": {
        "operationId": "getApplicationAverageResponseTime",
        "summary": "Average Response Time",
        "description": "Average request response time. If \"percent\" is set, the P50 or P95 response time will be returned.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "enum": [
                50,
                95
              ],
              "description": "The percentile of slowest requests to return (e.g. 95 means we return the average of the 5% slowest requests)",
              "example": 95,
              "externalDocs": {
                "description": "Find more information about supported percentiles",
                "url": "https://kinsta.com/docs/application-analytics/#average-transaction-time"
              }
            },
            "required": false,
            "name": "percent",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application average response time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationResponseTimeResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application average response time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/slowest-requests": {
      "get": {
        "operationId": "getApplicationSlowestRequests",
        "summary": "Slowest Requests",
        "description": "Slowest response shows you exactly which responses are the slowest on your application.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application slowest requests.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/GetApplicationResponseTimeResponseSchema"
                    },
                    {
                      "properties": {
                        "app": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
                            },
                            "display_name": {
                              "type": "string",
                              "example": "my-app"
                            },
                            "metrics": {
                              "type": "object",
                              "properties": {
                                "timeframe": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "string",
                                      "example": "1679587045511"
                                    },
                                    "end": {
                                      "type": "string",
                                      "example": "1679587045511"
                                    }
                                  },
                                  "required": [
                                    "start",
                                    "end"
                                  ]
                                },
                                "slowest_requests": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "avg_response_time_ms": {
                                        "type": "number",
                                        "example": 120
                                      },
                                      "client_request_path": {
                                        "type": "string",
                                        "example": "/api"
                                      },
                                      "request_count": {
                                        "type": "number",
                                        "example": 100
                                      }
                                    },
                                    "required": [
                                      "avg_response_time_ms",
                                      "client_request_path",
                                      "request_count"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "timeframe",
                                "slowest_requests"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "display_name",
                            "metrics"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application slowest requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/cpu-usage": {
      "get": {
        "operationId": "getApplicationCpuUsage",
        "summary": "CPU Usage",
        "description": "An average of the total CPU usage for the selected time period, as a percentage of instance’s CPU resources.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application CPU usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationCpuUsageResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application CPU usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics/memory-usage": {
      "get": {
        "operationId": "getApplicationMemoryUsage",
        "summary": "Memory Usage",
        "description": "An average of the total Memory (RAM) usage for the selected time period.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Metrics"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "example": 3600
            },
            "required": true,
            "name": "interval_in_seconds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-07-22T18:10:45.511Z"
            },
            "required": true,
            "name": "timeframe_end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application memory usage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationMemoryUsageResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "No application or database found with the provided unique ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application memory usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/deployments/{deployment_id}": {
      "get": {
        "operationId": "getDeploymentById",
        "summary": "Get application deployment details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Deployments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "deployment_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of application deployment by ID requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKDeploymentByIdSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the application deployment or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/processes/{process_id}": {
      "get": {
        "operationId": "getProcessById",
        "summary": "Get process by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Processes"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "process_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of application process by ID requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKProcessByIdSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the application process or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving application process",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/processes/{id}": {
      "put": {
        "operationId": "UpdateProcessById",
        "summary": "Update process details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Processes"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProcessRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Process updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProcessResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while updating process",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/deployments": {
      "post": {
        "operationId": "manualDeployApplication",
        "summary": "Manually deploy an application",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Deployments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualDeployAppRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deployment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKManualDeploymentSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating the deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/applications/promote": {
      "post": {
        "operationId": "promoteApplication",
        "summary": "Promote an application",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Application Deployments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteAppRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App promoted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKPromoteAppSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while promoting the app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/pipelines": {
      "get": {
        "operationId": "getPipelines",
        "summary": "Get list of pipelines by Company ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "company",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 0,
              "example": 3
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of pipelines requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKPipelines"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/pipelines/{id}/create-preview-app": {
      "post": {
        "operationId": "createPreviewApp",
        "summary": "Create preview app",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Pipelines"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePreviewAppRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview app created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKCreatePreviewAppSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating a preview app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/databases": {
      "get": {
        "operationId": "getDatabases",
        "summary": "Get list of databases by Company ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "company",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 10,
              "example": 10
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "default": 0,
              "example": 3
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of databases requests",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDatabasesSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to retrieve data",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving databases",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDatabase",
        "summary": "Create a new database",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response object of create database request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKCreateDatabaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to create a database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/databases/{id}": {
      "get": {
        "operationId": "getDatabaseById",
        "summary": "Get database by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "required": true,
            "name": "internal",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "required": true,
            "name": "external",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of databases requests",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKDatabaseByIdSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the database or the user does not have permissions to retrieve data",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDatabase",
        "summary": "Update a database",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response object of update database request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKUpdateDatabaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the company or the user does not have permissions to update a database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while updating database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDatabase",
        "summary": "Delete database by id",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of databases requests",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDatabaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the database or the user does not have required permissions",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while deleting database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/databases/{name}": {
      "get": {
        "operationId": "getDatabaseByName",
        "summary": "Get database by name",
        "deprecated": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "unique-name"
            },
            "required": true,
            "name": "name",
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "required": true,
            "name": "internal",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "required": true,
            "name": "external",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Response object of databases requests",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKDatabaseByNameSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the database or the user does not have permissions to retrieve data",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving database",
            "content": {
              "database/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/tools/clear-cache": {
      "post": {
        "operationId": "clearSiteCache",
        "summary": "Clear Site Cache",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Site Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearCacheRequestBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Clearing site cache in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MKClearCacheResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while trying to clear cache",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/tools/restart-php": {
      "post": {
        "operationId": "restartPhpEngine",
        "summary": "Restart an Environment's PHP Engine",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Site Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestartPhpEngineRequestBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Restarting PHP in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestartPhpEngineResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while trying to restart the PHP engine",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/tools/modify-php-version": {
      "put": {
        "operationId": "modifyPhpVersion",
        "summary": "Modify an Environment's PHP Version",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Site Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyPhpVersionRequestBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Modifying PHP version in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyPhpVersionResponse"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while trying to modify PHP version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/clone": {
      "post": {
        "operationId": "cloneWordPressSite",
        "summary": "Clone existing site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cloneWPSite-Body"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Cloning Wordpress site action started. Check MyKinsta for status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloneWPSite-Response"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating a site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/plain": {
      "post": {
        "operationId": "addPlainWordPressSite",
        "summary": "Create a plain site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addPlainWPSite-Body"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Plain site creation action started. Check MyKinsta for status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addPlainWPSite-Response"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating a site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites": {
      "post": {
        "operationId": "addWordPressSite",
        "summary": "Create a site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addWPSite-Body"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Site creation action started. Check MyKinsta for status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/addWPSite-Response"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while creating a site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getSites",
        "summary": "Get list of company sites",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "company",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getSites-Response"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the sites or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site_id}": {
      "get": {
        "operationId": "getSiteById",
        "summary": "Get site by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "site_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found site by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteById-Response"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the site or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving site by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWordpressSite",
        "summary": "Delete a site",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Sites"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "site_id",
            "in": "path"
          }
        ],
        "responses": {
          "202": {
            "description": "Site deletion action started. Check MyKinsta for status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deleteWpSite-Response"
                }
              }
            }
          },
          "400": {
            "description": "One or more of the required parameters were not provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema400"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while deleting a site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      }
    },
    "/sites/environments/{env_id}/plugins": {
      "get": {
        "operationId": "getPlugins",
        "summary": "Get list of WP Site plugins",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Site Themes & Plugins"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "env_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found WP plugins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWpSiteEnvironmentPluginsResponseSchema"
                }
              }
            }
          },
          "401": {
            "description": "No or invalid API key provided to the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema401"
                }
              }
            }
          },
          "404": {
            "description": "Could not find the WP plugins or the user does not have permissions to retrieve data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema404"
                }
              }
            }
          },
          "500": {
            "description": "Error occurred while retrieving WP plugins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponseSchema500"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePlugin",
        "summary": "Update WP Plugin",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "WordPress Site Themes & Plugins"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "54fb80af-576c-4fdc-ba4f-b596c83f15a1"
            },
            "required": true,
            "name": "env_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWpEnvironmentRequestBodySchema"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Updating of plugin started. Check MyKinsta for status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWpEnvironmentPluginResponseSchema"
[...]
